* {
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    font-family: 'Arbutus Slab', serif;
    color: #01657e;
}

h3 {
    font-family: 'Cabin', sans-serif; 
    text-align: center;
}

.jumbotron {
    background-image: linear-gradient( to bottom, #d8f8d4, #73ff73);
    max-width: 510px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 0;
}

.open-box {
    max-width: 510px;
    height: 240px;
    background-color: rgb(38, 209, 38);
    border: 15px solid #fab535;
    margin-bottom: 20px;
}

.shut-box {
    max-width: 510px;
    height: 240px;
    background-image: url(../images/pexels-photo-955454-woodgrain.jpeg);
    border: 15px solid #fab535;
    margin-bottom: 20px;
}

.message {
    font-size: 2em;
    text-align: center;
    color: rgb(0, 116, 10);
}

.dropdown, .name {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

input {
    font-family: inherit;
    font-size: 1.5em;
    width: 8em;
}

#swap-zone {
    width: 100%;
    margin: auto;
}

.tab {
    background-color: #fdeda5;
    border: 1px solid brown;
    height: 72px;
    font-size: 3em;
    padding: 0 30px 2px 10px;
    font-family: 'Arbutus Slab', serif;
}

.col {
    width: 10%;
}

#display-dice {
    text-align: center;
    padding-top: 30px;
}

#player-boxes {
    max-width: 510px;
    border: 5px solid goldenrod;
}

#player-toss-box {
    border-right: 2px solid goldenrod;
    padding: 5px;
}

#player-scores-box {
    border-left: 2px solid goldenrod;
    padding: 5px;
    background-image: linear-gradient( to bottom, #fcf8e9, #fae790 ) ;
}

#player-box-name {
    font-family: 'Cabin', sans-serif;
    color: red;
    text-align: center;
    font-size: 24px;
}

#player-instruction {
    text-align: center;
    font-family: inherit;
    font-size: 18px;
}
.dice {
    height: 72px;
    text-align: center;
}

.rolled-dice {
    height: 72px;
    text-align: center;
}

table {
    font-family: inherit;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 1em;
  }

  th {
      color: brown;
  }

/* tr:nth-child(odd) {
    background-color: #dddddd;
  } */
