* {
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
    font-family: 'Arbutus Slab', serif;
    color: dodgerblue;
}

h3 {
    font-family: 'Cabin', sans-serif; 
    text-align: center;
}

.jumbotron {
    background-image: linear-gradient( to bottom, white, lightgreen );
    max-width: 510px;
    width: 100%;
    margin: 0 auto;
    padding: 32px 0;
}

.open-box {
    max-width: 510px;
    height: 240px;
    background-color: limegreen;
    border: 15px solid goldenrod;
    margin-bottom: 20px;
}

.shut-box {
    max-width: 510px;
    height: 240px;
    background-image: url(../images/pexels-photo-955454-woodgrain.jpeg);
    border: 15px solid goldenrod;
    margin-bottom: 20px;
}

.message {
    font-size: 2em;
    text-align: center;
    color: forestgreen;
}

.dropdown, .name {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

input {
    font-family: inherit;
    font-size: 1.5em;
    width: 8em;
}

.start-zone, .entry-zone {
    width: 100%;
    margin: auto;
}

#current-turn {
    color: brown;
}

.tab {
    background-color: moccasin;
    border: 1px solid brown;
    height: 72px;
    font-size: 3em;
    padding: 0 30px 2px 10px;
    font-family: 'Arbutus Slab', serif;
    cursor: pointer;
}

.col {
    width: 10%;
}

#display-dice {
    text-align: center;
    padding-top: 30px;
}

.player-zone {
    max-width: 510px;
    border: 5px solid goldenrod;
}

#player-toss-box {
    border-right: 2px solid goldenrod;
    padding: 5px;
}

#player-scores-box {
    border-left: 2px solid goldenrod;
    padding: 5px;
    background-image: linear-gradient( to bottom, beige, burlywood ) ;
}

#player-instruction-label {
    font-family: 'Cabin', sans-serif;
    color: brown;
    text-align: center;
    font-size: 24px;
}

#player-instructions {
    text-align: center;
    font-family: inherit;
    font-size: 18px;
}
.dice {
    height: 72px;
    text-align: center;
}

/* test */
#dice1, #dice2 {
    font-size: 3em;
}


#my-dice {
    text-align: center;
}

.rolled-dice {
    height: 72px;
    text-align: center;
}

table {
    font-family: inherit;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 6px;
    font-size: 1em;
  }

  #user, td {
    border-bottom: 1px solid coral;
  }

  th {
      color: brown;
      border: none;
  }

